$cell_body_height: 22px;
$cell_body_width: 94px;

$cell_border_grid: thin solid rgba(0, 0, 0, .2);
$cell_border_title: thin solid grey;

$cell_title_height: 22px;
$cell_title_width: 60px;
$cell_title_background_color: rgb(240, 240, 240);